<footer class="footer">
  <div id="particles-js-footer"></div>
  <div class="footer-content">
    <div class="footer-container">
      <div class="footer-inner">
        <div class="footer-logo-container">
          <img src="assets/images/CJ-Design-Dark.png" alt="CJ Mayes" class="footer-logo" />
        </div>
        <h3 class="footer-heading">CJ Mayes</h3>
        <p class="footer-description">The harder I work, the luckier I get</p>
        <p class="copyright-text">CJ Mayes © 2026</p>
      </div>
    </div>
  </div>
</footer>
